.venv
.vscode
build
dist
__pycache__
*.log
saved_data/**/*.json
saved_data/archive
.pytest_cache
.ruff_cache
.coverage
coverage.xml
*.exe
.hypothesis
coverage
.mypy_cache
*.autosave
icons-custom-redundant
*.psd
aux_stuff
.profile_data