[tool.pytest.ini_options]
pythonpath = "."

[tool.pyright]
reportGeneralTypeIssues = false
reportArgumentType = false
reportReturnType = false
reportAttributeAccessIssue = false
reportIndexIssue = false
reportOperatorIssue = false
reportAssignmentType = false
reportAbstractUsage = false
reportCallIssue = false
reportOptionalMemberAccess = "none"
exclude = ["src/views", ".venv", "aux_stuff"]

[tool.coverage.report]
exclude_lines = [
  "pragma: no cover",
  "@overload",
  "if TYPE_CHECKING:",
  "raise NotImplementedError",
  "@(abc\\.)?abstractmethod",
]

[tool.ruff]
src = ["src/**", "tests/**", "tests", "main.py"]
line-length = 88
extend-exclude = ["src/views/ui_files/*", "main.spec"]
lint.select = ["ALL"]
lint.ignore = ["D", "COM", "G"]
lint.extend-ignore = [
  "TRY003",
  "EM101",
  "EM102",
  "TD001",
  "TD002",
  "TD003",
  "FIX001",
  "FIX002",
  "FA102",
  "PERF203",
  "LOG015",
  "PLR0913"
]

[tool.ruff.lint.per-file-ignores]
"tests/*" = ["S101", "ANN401", "SLF001", "PLR2004", "FBT001"]
"src/views/*" = ["FBT003", "N802"]
"src/view_models/*" = ["N802"]
"main.py" = ["E402"]                                          # imports not at top
