altgraph==0.17.4
appdirs==1.4.4
attrs==23.2.0
beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.0
coverage==7.4.4
cycler==0.12.1
fonttools==4.50.0
frozendict==2.4.0
gprof2dot==2022.7.29
html5lib==1.1
hypothesis==6.99.13
idna==3.6
iniconfig==2.0.0
kiwisolver==1.4.5
lxml==5.1.1
matplotlib==3.8.3
multitasking==0.0.11
mypy==1.9.0
mypy-extensions==1.0.0
numpy==1.26.4
packaging==24.0
pandas==1.5.3
pathspec==0.12.1
peewee==3.17.1
pefile==2023.2.7
pillow==10.2.0
pip3-autoremove==1.2.2
pipdeptree==2.16.2
platformdirs==4.2.0
pluggy==1.4.0
pydantic==1.10.14
pyinstaller==6.5.0
pyinstaller-hooks-contrib==2024.3
pyparsing==3.1.2
PyQt6==6.6.1
PyQt6-Charts==6.6.0
PyQt6-Charts-Qt6==6.6.2
PyQt6-Qt6==6.6.2
PyQt6-sip==13.6.0
pytest==8.1.1
pytest-cov==5.0.0
pytest-qt==4.4.0
python-dateutil==2.9.0.post0
pytz==2024.1
pytz-deprecation-shim==0.1.0.post0
pywin32-ctypes==0.2.2
pyxirr==0.10.3
quiffen==2.0.10
requests==2.31.0
ruff==0.3.4
setuptools==69.2.0
six==1.16.0
snakeviz==2.2.0
sortedcontainers==2.4.0
soupsieve==2.5
tornado==6.4
typing_extensions==4.10.0
tzdata==2024.1
tzlocal==5.2
urllib3==2.2.1
webencodings==0.5.1
yfinance==0.2.37
