altgraph==0.17.4
annotated-types==0.7.0
appdirs==1.4.4
attrs==25.3.0
autocommand==2.2.2
backports.tarfile==1.2.0
beautifulsoup4==4.13.4
certifi==2025.4.26
cffi==2.0.0
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
contourpy
coverage==7.8.2
cryptography==46.0.3
curl_cffi==0.11.1
cycler==0.12.1
fonttools==4.58.1
frozendict==2.4.6
gprof2dot==2025.4.14
html5lib==1.1
hypothesis==6.132.0
idna==3.10
importlib_metadata==8.7.0
importlib_resources==6.5.2
inflect==7.5.0
iniconfig==2.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
kiwisolver
lxml
#matplotlib==3.10.3
more-itertools==10.7.0
multitasking==0.0.11
mypy==1.16.0
mypy_extensions==1.1.0
#numpy==2.2.6
packaging==25.0
pandas==2.3.3
pathspec==0.12.1
peewee==3.18.1
pefile==2023.2.7
pillow
pip3-autoremove==1.2.2
pipdeptree==2.26.1
platformdirs==4.3.8
pluggy==1.6.0
protobuf==6.31.1
pycparser==2.22
#pydantic==2.12.0
#pydantic_core==2.41.5
#pyinstaller==6.13.0
#pyinstaller-hooks-contrib==2025.4
pyparsing==3.2.3
PyQt6==6.9.0
PyQt6-Charts==6.9.0
PyQt6-Charts-Qt6==6.9.0
PyQt6-Qt6==6.9.0
PyQt6_sip==13.10.2
pytest==8.3.5
pytest-cov==6.1.1
pytest-qt==4.4.0
python-dateutil==2.9.0.post0
pytz==2025.2
pytz-deprecation-shim==0.1.0.post0
pywin32-ctypes==0.2.3
#pyxirr==0.10.6
#quiffen==3.0.0
requests==2.32.3
ruff==0.11.12
setuptools==80.9.0
six==1.17.0
snakeviz==2.2.2
sortedcontainers==2.4.0
soupsieve==2.7
tomli==2.2.1
tornado==6.5.1
typeguard==4.4.2
typing_extensions
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.4.0
webencodings==0.5.1
websockets==15.0.1
wheel==0.45.1
yfinance==0.2.61
zipp==3.22.0
