altgraph==0.17.3
attrs==23.1.0
black==23.7.0
click==8.1.4
colorama==0.4.6
contourpy==1.1.0
coverage==7.2.7
cycler==0.11.0
fonttools==4.40.0
gprof2dot==2022.7.29
hypothesis==6.81.1
iniconfig==2.0.0
kiwisolver==1.4.4
matplotlib==3.7.2
mplcursors==0.5.2
mypy==1.4.1
mypy-extensions==1.0.0
numpy==1.25.1
packaging==23.1
pandas==1.5.3
pathspec==0.11.1
pefile==2023.2.7
Pillow==10.0.0
pip3-autoremove==0.10.2
pipdeptree==2.9.5
platformdirs==3.8.1
pluggy==1.2.0
pydantic==1.10.11
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.5
pyparsing==3.0.9
PyQt6==6.5.1
PyQt6-Qt6==6.5.1
PyQt6-sip==13.5.1
pytest==7.4.0
pytest-cov==4.1.0
pytest-qt==4.2.0
python-dateutil==2.8.2
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
pywin32-ctypes==0.2.2
quiffen==2.0.8
ruff==0.0.277
six==1.16.0
snakeviz==2.2.0
sortedcontainers==2.4.0
tornado==6.3.2
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==5.0.1
